
.rowContainer {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}

.aboutContainer {
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.aboutCell {
    display: inline;
    transition: transform 0.3s;
}

.borderCell {
}

.aboutBackground {
    background-size: cover;
}

.aboutCard {
    width: 18rem!important;
    border-color: white!important;
    transition: transform 0.3s;
}

div.aboutCell:hover {  
    transform: scale(1.13,1.13);
}

div.aboutCard:hover {  
    transform: scale(1.13,1.13);
}
