/*
div.dropdown-menu.show {
    position: relative !important;
    transform: none !important;
} 
*/
.cardSize {
    width: 128px;
    height: 128px;
}

/*
.carousel-inner {
    left:15% !important;
    top: 45% !important;
    width: 70% !important;
}
*/

.categoryDropdownMenu {
    position: relative !important;
    transform: none !important;
    border: none !important;
}

div.card-footer > p {
    display: inline-block;
}

div.card-footer > button {
    float: right;
}

.cardsContainter {
    width: 1000px;
    height: 525px;
    overflow: scroll;
}