nav.navbar {
    margin-left: -15px;
    margin-right: -15px;
}

.centerCounter {
    right: -12px !important;
}

.linkColor {
    color: #007bff !important;
}

a.linkColor:hover {
    text-decoration: underline;
}